/* styles.css */
:root {
    --primary-color: #333;
    --secondary-color: #444;
    --dark-color: #555;
    --light-color: #f4f4f4;
    --danger-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;

    --color-palette-1-1: #2d2d2d;
    --color-palette-1-2: #f6b401;
    --color-palette-1-3: #bbb2a2;
    --color-palette-1-4: #e9eaed;
    --color-palette-1-5: #292929;

    --color-palette-2-1: #f6b401;
    --color-palette-2-2: #E3A601;
    --color-palette-2-3: #2d2d2d;
    --color-palette-2-3: #e9eaed;
    --color-palette-2-4: #4788a0;

    --color-primary: var(--color-palette-1-1);
    --color-secondary: var(--color-palette-1-4);
    --color-highlight: var(--color-palette-1-2);
    --color-accent: var(--color-palette-1-3);
    --color-background: var(--color-palette-1-5);


}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", Arial, sans-serif;
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    color: var(--color-secondary);
}

body {
    font-family: "Roboto", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    background-color: var(--color-background);
    margin: 0;
    padding: 0;
    line-height: 1.6;

    color: var(--color-primary);
}

header {
    background: var(--color-primary);
    color: var(--color-highlight);
    padding: 1rem 0;
    text-align: center;
    z-index: 100;
}

nav {
    height: 3rem;
    position: sticky;
    top: 0;

    background: var(--color-highlight);
    text-align: center;
    z-index: 100;
}

nav button {
    height: 100%;
    color: var(--color-primary);
    text-decoration: none;
    padding: 0 1rem;
}

nav button:hover {
    background: var(--color-accent);
    color: var(--color-primary);
}

main {}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    bottom: 0;
    width: 100%;
}

.section {
    --padding: 2rem;
    width: calc(100%);

    .content {
        gap: 4rem;
        display: flex;
    }

    &:nth-child(odd) {
        flex-direction: row;
        background-color: var(--color-secondary);

        .content {
            flex-direction: row;
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        background-color: var(--color-accent);

        .content {
            flex-direction: row-reverse;
        }
    }
}

.boxshadow, img{
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.image-container {
    width: 33%;
    position: relative;
    top: -3rem;
    z-index: 10;

    &.table {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        
        table {
            background-color: var(--color-highlight);
            border-collapse: collapse;
            width: 100%;
            
            td, th {
                padding: 1rem;
            }
        }
    }
}

.nav-spacer{
    margin: 3rem 0 1rem 0;
}

.info-container {
    width: 66%;
    max-width: 630px;
    margin: 0 0 7.5rem 0;
}

img {
    max-width: 100%;
    height: auto;
}


@media screen and (max-width: 640px) {
    .section {
        .content {
            width: 640px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 768px) {
    .section {
        .content {
            width: 768px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1024px) {
    .section {
        .content {
            width: 1024px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1280px) {
    .section {
        .content {
            width: 1280px;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1536px) {
    .section {
        .content {
            width: 1536px;
            margin: 0 auto;
        }
    }
}